@import 'prismjs/themes/prism.css';

pre[class*='language-'] {
  background-color: rgb(243 244 246);
  padding: 0.5rem;
  font-size: 14px;
}

.dark pre[class*='language-'] {
  background-color: rgb(31 41 55);
}

.token.operator {
  background-color: transparent;
}

.documentation {
  h1 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  not(.toc) > ul {
    margin-block: 1rem;
    padding-left: 1.5rem;
    list-style-position: outside;
    list-style-type: disc;
  }

  not(.toc) > ul ul {
    margin-block: 0.5rem;
    list-style-type: circle;
  }

  not(.toc) > li + li {
    margin-top: 0.5rem;
  }

  not(.llm) > a {
    color: #2563eb; /* blue-600 */
    text-underline-offset: 4px;
    text-decoration-line: underline;
    text-decoration-color: #d1d5db; /* gray-300 */
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }

  not(.llm) > a:hover {
    text-decoration-thickness: 1.15px;
    color: #2563eb; /* blue-600 */
    text-decoration-color: #60a5fa; /* blue-400 */
  }

  not(.llm) > .dark a {
    color: #d1d5db; /* gray-300 */
    text-decoration-color: #4b5563; /* gray-600 */
  }

  not(.llm) > .dark a:hover {
    color: #60a5fa; /* blue-400 */
    text-decoration-color: #60a5fa; /* blue-400 */
  }
}
